<div class="add-info-container">

    <!-- ADD-INFO - HEADER -->
    <!-- +++++++++++++++++ -->
    <div class="add-info-header">
        <div class="headline-wrapper">
            <span>Zusatzinformationen</span>
        </div>
    </div>

    <!-- ADD-INFO - STRUCTURE -->
    <!-- ++++++++++++++++++++ -->
    <div class="item-wrapper" *ngIf="addInfoItems">

        <!-- TreeNode expandable -->
        <!-- <ul > -->

            <!-- <li *ngFor="let branch of tree"> -->
            <!-- <li *ngIf="addInfoItems"> -->
                <!-- <div class="item-container">
                    <p>ID: {{ addInfoItems.id }}</p>
                </div> -->
                <!-- <div class="item-container">
                    <p><i class="icon-add"></i>{{ addInfoItems.createdDate }} {{ truncateText(addInfoItems.createdFrom, 16) }}</p>
                </div>
                <div class="item-container">
                    <p><i class="icon-edit"></i>{{ addInfoItems.modifiedDate }} {{ addInfoItems.modifiedFrom }}</p>
                </div> -->
            <!-- </li> -->
        <!-- </ul> -->

        <div class="item-container">
            <p>ID: {{ addInfoItems.id }}</p>
        </div>

        <div class="crud-container">

            <div class="chip">
                <i class="icon-add"></i>
                <div class="user add">
                    <span>
                        {{ truncateText(addInfoItems.createdFrom, 11) }}
                    </span>
                </div>
                <span class="date">
                    {{ addInfoItems.createdDate }}
                </span>
            </div>

            <div class="chip">
                <i class="icon-edit"></i>
                <div class="user edit">
                    <span>
                        {{ truncateText(addInfoItems.modifiedFrom, 11) }}
                    </span>
                </div>
                <span class="date">
                    {{ addInfoItems.modifiedDate }}
                </span>
            </div>

        </div>



    </div>
</div>
