@import '../../../../styles.scss';


// Header
// ******
header {
  position: fixe;
  width: 100vw;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav a {
  color: var(--background-color);
  text-decoration: none;
  margin-left: 1rem;
}


// Content
// *******
.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* nimmt die volle Fensterhöhe ein */
}

.hero-bg {
  height: 100%;
  background: url('https://www.koehler-forsttechnik.de/s/img/emotionheader.jpg?1612298705.920px.400px') no-repeat center center / cover;
  //background: url('https://www.koehler-forsttechnik.de/s/img/background.jpg?1744521158') no-repeat center center / cover;
  background-color: rgba(255,255,255,0.88);
  background-blend-mode: lighten;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  color: rgb(54, 54, 54);
}

.hero-content {
  max-width: 800px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content .icon {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.hero-content .cta {
  background-color: #E66926;
  color: var(--background-color);
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero-content .cta:hover {
  background-color: #cc581a;
  transform: scale(1.05);
}


// Footer
// ******
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  padding: 1rem;
  background-color: var(--border-color);
  margin-top: 3rem;
}
