@import '../../../../styles.scss';


// Header
// ******
header {
  position: fixed;
  width: 100vw;
  height: 60px;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.18);
  z-index: 10;
  // opacity: 0.1;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  nav a {
    color: var(--background-color);
    text-decoration: none;
    margin-left: 1rem;
  }
}


// Content
// *******
.hero-bg {
  position: absolute;
  top: 60px;
  bottom: 48px;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: url('https://www.koehler-forsttechnik.de/s/img/background.jpg?1744521158') no-repeat center center / cover;
  background: url('https://www.koehler-forsttechnik.de/s/img/emotionheader.jpg?1612298705.920px.400px') no-repeat center center / cover;
  background-color: rgba(255,255,255,0.88);
  background-blend-mode: lighten;
  padding: 2rem;
  color: rgb(54, 54, 54);
  color: white;
}

.hero-content {
  background-color: rgba(0,0,0,0.6);
  padding: 60px 120px;
  border-radius: 36px;
  max-width: 800px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group.password {
    margin-bottom: 36px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #E66926;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #E66926;
}

.message {
    text-align: center;
    margin-top: 15px;
}

.message a {
    color: #E66926;
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}


// Footer
// ******
footer {
  background-color: var(--border-color);
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 48px;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2), 0 -4px 16px 0 rgba(0, 0, 0, 0.18);
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  // text-align: center;

  // opacity: 0.4;
}
