<!-- <div class="container">

  <header>
      <div class="logo" [routerLink]="['/home']">🌲 Klaus Köhler Forst- und Gartentechnik</div>
      <nav>
        <a href="#">Über uns</a>
        <a href="https://www.koehler-forsttechnik.de/" target="_blank">Produkte</a>
        <a href="login.html" class="login-button">Login</a>
      </nav>
  </header>

  <main class="login-bg">
    <div style="display: flex; justify-content: center; align-items: center; width: 100vw; height: 100vh;background-color: #f0f2f5;;">
      <div class="auth-container">
          <form class="login-form">
              <h2>Login</h2>
              <div class="input-group">
                  <label for="username">Benutzername</label>
                  <input type="text" id="username" name="username" required>
              </div>
              <div class="input-group">
                  <label for="password">Passwort</label>
                  <input type="password" id="password" name="password" required>
              </div>
              <button type="submit" >Einloggen</button>
              [routerLink]="['/dashboard']"
              <p class="message">Noch kein Konto? <a href="#">Registrieren</a></p>
          </form>
      </div>
  </div>
  </main>

  <footer>
      <p>&copy; 2025 Forst & Garten Vertrieb GmbH</p>
  </footer>

</div> -->

<header>
    <div class="logo" [routerLink]="['/home']">🌲 Klaus Köhler Forst- und Gartentechnik</div>
    <nav>
        <a routerLink="/test">Über uns</a>
        <a href="https://www.koehler-forsttechnik.de/" target="_blank">Produkte</a>
        <a [routerLink]="['/auth']" class="login-button">Login</a>
    </nav>
</header>

<main class="hero-bg">
    <div class="hero-content">
        <form class="login-form">
              <h2>Login</h2>
              <div class="input-group username">
                  <label for="username">Benutzername</label>
                  <input type="text" id="username" name="username" required>
              </div>
              <div class="input-group password">
                  <label for="password">Passwort</label>
                  <input type="password" id="password" name="password" required>
              </div>
              <button type="submit" [routerLink]="['/dashboard']">Einloggen</button>
              <!-- [routerLink]="['/dashboard']" -->
              <p class="message">Noch kein Konto? <a href="#">Jetzt registrieren</a></p>
          </form>
    </div>
</main>

<footer>
    <p>&copy; 2025 Forst & Garten Vertrieb GmbH</p>
</footer>

