<div class="header-container">

    <i class="icon-menu" *ngIf="!isMenuCollapsed" (click)="toggleMenuStatus()"></i>
    <i class="icon-more-vert" *ngIf="isMenuCollapsed" (click)="toggleMenuStatus()"></i>

    <div class="logo-container">
        <p class="logo-icon">🌲</p>
        <!-- <p class="logo-text"> Klaus Köhler Forst- und Gartentechnik</p> -->
        <p class="logo-text"> Musterfirma XY</p>
    </div>

    <div style="display: flex;">
        <p style="margin-left: 6px" [routerLink]="['/home']">Home</p>
        <p style="margin-left: 6px" [routerLink]="['/test']">Test</p>
    </div>
</div>

