.container {
    // background-color: lime;
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
    height: var(--header-height);
    align-items: center;


    i {
        // background-color: orange;
        font-size: 2rem;
        padding-left: 2px;
    }
}
