.header-container {
    // background-color: lime;
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
    height: var(--header-height);
    align-items: center;


    i {
        // background-color: orange;
        font-size: 2rem;
        padding-left: 2px;
    }

    .logo-container {
        display: flex;
        align-items: center;
        height: 100%;

        .logo-icon {
            font-size: 1.8rem;
            margin-top: -6px;
            margin-right: 8px;
        }

        .logo-text {
            font-size: 1.2rem;
        }
    }

}
