<div class="container expand" *ngIf="!menuIsCollapsed">
    <ul>
        <li>Favoriten</li>
        <li>Dashboard</li>
        <li>Workspace</li>
        <li>Team</li>
        <li>Kunden</li>
        <li>Projekte</li>
    </ul>
</div>

<div class="container collapsed" *ngIf="menuIsCollapsed">
    <ul>
        <li><i class="icon-star"></i></li>
        <li><i class="icon-grid"></i></li>
        <li><i class="icon-box-filled"></i></li>
        <li><i class="icon-group"></i></li>
        <li><i class="icon-building"></i></li>
        <li><i class="icon-cubes"></i></li>
    </ul>
</div>
