<div class="container expand">
    <ul>
        <li>Favoriten</li>
        <li>Dashboard</li>
        <li>Workspace</li>
        <li>Team</li>
        <li>Kunden</li>
        <li>Projekte</li>
    </ul>
</div>

<div class="container collapsed">
    <ul>
        <li><img src="../../../../assets/logo-systaro.png" alt=""></li>
        <li><img src="../../../../assets/logo-systaro.png" alt=""></li>
        <li><img src="../../../../assets/logo-systaro.png" alt=""></li>
        <li><img src="../../../../assets/logo-systaro.png" alt=""></li>
        <li><img src="../../../../assets/logo-systaro.png" alt=""></li>
        <li><img src="../../../../assets/logo-systaro.png" alt=""></li>
    </ul>
</div>

{{ isMenuCollapsed }}
