p, span {
    color: var(--font-default);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-right: 2px;
}

.task-container {
    background-color: rgba(255, 255, 255, .80);
    box-shadow: -1px -1px 8px -4px rgba(0, 0, 0, 0.6) inset;
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid #ececec;
    /* Optional: Styling für die Items */
    border-bottom: 3px solid #bac6cd;
    display: flex;

    &:hover {
        background-color: rgba(255, 255, 255, .96);
        box-shadow: -1px -1px 8px -4px rgba(0, 0, 0, 8) inset;
        border-bottom: 3px solid #a6b1b8;
        cursor: pointer;
    }

    .left-column {
        flex: 8;
    }

    .right-column {
        display: flex;
        flex-direction: column;
        justify-content: end;

        button {
            margin-top: 4px;
            opacity: .12;
            border: none;
            border-radius: 4px;
            padding: 4px;

            &:hover {
                background-color: #527083;
                border: none;
                opacity: 1;
                cursor: pointer;

                div {
                    color: white;
                }
            }
        }

        button.action.active {
            background-color: #527083;
            /* Zum Beispiel grün für aktiv */
            opacity: 1;

            div {
                color: white;
            }
        }

        button.action.no-hover {
            pointer-events: none;
            opacity: .12;
        }

    }
}

.task-container.selected,
.right-column button.action {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: -1px -2px 8px -4px rgba(0, 0, 0, 1) inset;
    border-bottom: 3px solid #527083;
}

.task-container.selected .right-column button.action {
    opacity: 1;
}

.task-container.selected .right-column button.action.no-hover {
    opacity: .12;
}
