<header class="header-container">
    <div class="left-container">Header Left</div>
    <div class="center-container" routerLink="/home">Header Center</div>
    <div class="right-container">Header Right</div>
</header>

<div class="main-container">

    <nav class="menu-container">
        <div class="menu-item-container pre-active">MenuItem 1</div>
        <div class="menu-item-container active">MenuItem 2</div>
        <div class="menu-item-container post-active">MenuItem 3</div>
        <div class="menu-item-container">MenuItem 4</div>
        <div class="menu-item-container">MenuItem 5</div>
        <div class="menu-item-container placeholder"></div>
    </nav>

    <div class="content-structure">

        <div class="content-header">Content Header</div>
        <div class="filter">Filter</div>

        <div class="content-container">



            <aside class="quicklinks-container">
                <div class="quicklinks-header">
                    Quicklinks
                </div>
                <div class="quicklinks-wrapper">
                    <div class="quicklink-item" *ngFor="let i of [].constructor(50); let n = index">
                        Quicklink {{n + 1}}
                    </div>
                </div>
            </aside>

            <div class="tile-container">
                <div class="tile-item" *ngFor="let i of [].constructor(50); let n = index">
                    Zeile {{n + 1}}
                </div>
                <div class="tile-actions">
                    Actions
                </div>
            </div>

            <aside class="addinfo-container">
                <div class="addinfo-header">
                    AddInfo-Header
                </div>
                <div class="addinfo-wrapper">
                    <div class="addinfo-item" *ngFor="let i of [].constructor(50); let n = index">
                        Info {{n + 1}}
                    </div>
                </div>
            </aside>

        </div>
    </div>
</div>
