// .app-structure {
//     background-color: var(--app-background);
//     overflow: visible;

    // .header-container {
    //     background-color: white;
    //     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    //     width: 100vw;
    //     position: fixed;
    //     top: 0;
    //     z-index: 100;
    // }

    // }

main {
    background-color: #a4acb9;
    // background-color: lime;
    // margin-top: var(--header-height);
    // height: calc(100vh - 60px);
    // position: relative;
}

.example-list {
    width: 100px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.example-list>li {
    list-style-type: none;
    border-bottom: solid 1px #8b8b8b;
    padding: 8px 0;
}

.example-list>li:last-child {
    border-bottom: none; }
