// .app-structure {
//     background-color: var(--app-background);
//     overflow: visible;

    // .header-container {
    //     background-color: white;
    //     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    //     width: 100vw;
    //     position: fixed;
    //     top: 0;
    //     z-index: 100;
    // }

    // }

main {
    background-color: #a4acb9;
    // background-color: lime;
    // margin-top: var(--header-height);
    height: calc(100vh - 60px);
    position: relative;
}

.my-dropdown {
    background: white;
    border: 1px solid #ccc;
    min-width: 120px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    position: relative;
    padding: 8px 0;

    // background: red !important;
    // color: white;
    // z-index: 9999 !important;
    // position: relative;

}

.my-dropdown>div {
    padding: 8px 16px;
    cursor: pointer;
}

.my-dropdown>div:hover {
    background: #f0f0f0;
}
