<div class="app-structure">

    <!-- HEADER -->
    <header class="header-container" routerLink="/home">
        <!-- <app-header></app-header> -->
    </header>

    <!-- MAIN -->
    <main>

        <button (click)="openDropdown(trigger)" #trigger>Dropdown öffnen</button>

        <ng-template #dropdownMenu>
            <div class="my-dropdown">
                <div (click)="select('Option 1')">Option 1</div>
                <div (click)="select('Option 2')">Option 2</div>
                <div (click)="select('Option 3')">Option 3</div>
            </div>
        </ng-template>

    </main>

</div>
