<header class="header-container">
    <!-- The height is set generally at the header-element -->
    <app-header></app-header>
</header>

<div class="main-container">

    <nav class="menu-container">
        <!-- The width comes automatically from the app-menu-component (expand / collapsed) -->
        <app-menu></app-menu>
    </nav>

    <div class="content-structure">

        <div class="content-header" *ngIf="!isDashbaord">    <!-- *ngIf="breadcrumbs != 'Dashboard'" -->
            <div class="breadcrumbs">{{ breadcrumbs }}</div>

            <!-- If workspace -->
            <div class="second-menu" *ngIf="currentRoute == '/tasks' || currentRoute == '/calendar' || currentRoute == '/messages'">
                <p class="active" routerLink="/tasks">Aufgaben</p>
                <p>|</p>
                <p routerLink="/calendar">Kalender</p>
                <p>|</p>
                <p routerLink="/messages">Nachrichten</p>
            </div>

            <!-- If team -->
            <div class="second-menu" *ngIf="currentRoute == '/team'">
                <p class="active">Mitarbeiter</p>
                <p>|</p>
                <p>Zeitmodelle</p>
            </div>

            <!-- If clients -->
            <div class="second-menu" *ngIf="currentRoute == '/clients'">
                <p class="active">Kunden</p>
            </div>

            <!-- If projects -->
            <div class="second-menu" *ngIf="currentRoute == '/projects'">
                <p class="active">Projekte</p>
            </div>

        </div>

        <div class="filter-container" *ngIf="!isDashbaord">
            <button [ngClass]="{'active': isQuicklinksVisible}">
                <div (click)="toggleQuicklinks()">Quicklinks</div>
            </button>
            <button [ngClass]="{'active': isAddInfoVisible}">
                <div (click)="toggleAddInfo()">AddInfo</div>
            </button>

        </div>

        <div class="content-container">

            <aside class="quicklinks-container" *ngIf="isQuicklinksVisible && currentRoute!= '/dashboard'">
                <app-quicklinks></app-quicklinks>
            </aside>

            <div class="tile-container">
                <router-outlet />
            </div>

            <aside class="addinfo-container" *ngIf="isAddInfoVisible">
                <div class="addinfo-header">
                    AddInfo-Header
                </div>
                <div class="addinfo-wrapper">
                    <div class="addinfo-item" *ngFor="let i of [].constructor(50); let n = index">
                        Info {{n + 1}}
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
