@import '../../../styles.scss';

/* Header */
.header-container {
    background: var(--header-bg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(0, 0, 0, 0.08);
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100vw;
    z-index: 100;
}

/* Main */
.main-container {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    display: flex;

    /* Menu */
    .menu-container {
        background: var(--body-bg);

        // .menu-item-container {
        //     background-color: var(--menu-item-bg);
        //     color: var(--menu-item-color);
        //     height: 40px;
        //     display: flex;
        //     align-items: center;
        //     padding: 0 8px;

        //     :hover {
        //         background-color: lime;
        //     }
        // }

        // .menu-item-container.pre-active {
        //     border-radius: 0 0 6px 0;
        // }

        // .menu-item-container.active {
        //     background-color: transparent;
        //     color: var(--menu-item-bg);
        // }

        // .menu-item-container.post-active {
        //     border-radius: 0 6px 0 0;
        // }

        // .menu-item-container.placeholder {
        //     height: 100%;
        // }

        // .menu-item-container:hover:not(.placeholder, .active) {
        //     cursor: pointer;
        // }
    }

    /* Content */
    .content-structure {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: 0;
        padding: 4px 8px 8px 8px;

        /* Content-Header and Filter */
        .content-header, .filter {
            width: 100%;
            padding-left: 8px;
        }

        .content-header {
            .breadcrumbs {
                font-size: .8rem;
                color: #808080;
                margin: 2px 0px;
            }

            .second-menu {
                color: var(--primary-color);
                font-weight: 500;
                font-size: 1.1rem;
            }
        }

        .filter {
            background-color: white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(0, 0, 0, 0.08);
            border: 1px solid #ececec;
            border-radius: 6px;
            padding: 4px 8px;
            margin: 8px 0;
        }

        /* Quicklink, Content and Add-Info */
        .content-container {
            flex: 1;
            display: flex;
            min-height: 0; //Important


            /* Quicklinks, Content, AddInfo */
            .quicklinks-container {
                background: white;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
                border: 1px solid #ececec;
                color: var(--text-color);
                width: 200px;
                border-radius: 6px;
                padding-bottom: 4px;
                overflow: auto;

                .quicklinks-header {
                    background: white;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
                    position: fixed;
                    width: 194px;
                    padding: 8px 8px;
                    border-radius: 6px 6px 0 0;
                }

                .quicklinks-wrapper {
                    margin-top: 42px;

                    .quicklink-item {
                        padding: 2px 8px;
                    }
                }
            }

            .tile-container {
                flex: 1;
                color: var(--text-color);
                overflow: auto;
                min-width: 0;
                margin: 0 8px;
                // display: flex;

                .tile-item {
                    background-color: white;
                    border: 1px solid #EDF0F5;
                    padding: 2px 8px;
                    margin: 0 2px 8px 0;
                    border-radius: 6px;
                }

                .tile-actions {
                    background-color: white;
                    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.08), 0 -4px 8px rgba(0, 0, 0, 0.08);
                    border: 1px solid #ececec;
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    padding: 8px 8px;
                    position: sticky;
                    bottom: 0px;
                    margin-right: 2px;
                }

            }

            .addinfo-container {
                background: white;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
                border: 1px solid #ececec;
                color: var(--text-color);
                width: 200px;
                border-radius: 6px;
                padding-bottom: 4px;
                overflow: auto;

                .addinfo-header {
                    background: white;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
                    position: fixed;
                    width: 194px;
                    padding: 8px 8px;
                    border-radius: 6px 6px 0 0;
                }

                .addinfo-wrapper {
                    margin-top: 42px;

                    .addinfo-item {
                        padding: 2px 8px;
                    }
                }
            }
        }
    }
}
