<header class="header-container">
    <!-- The height is set generally at the header-element -->
    <app-header></app-header>
</header>

<div class="main-container">

    <nav class="menu-container">
        <!-- The width comes automatically from the app-menu-component (expand / collapsed) -->
        <app-menu></app-menu>
    </nav>

    <div class="content-structure">

        <div class="content-header">
            <div class="breadcrumbs">Breadcrumbs</div>
            <div class="second-menu">2nd Menu</div>
        </div>

        <div class="filter">Filter</div>

        <div class="content-container">

            <aside class="quicklinks-container">
                <!-- <div class="quicklinks-header">
                    Quicklinks
                </div>
                <div class="quicklinks-wrapper">
                    <div class="quicklink-item" *ngFor="let i of [].constructor(50); let n = index">
                        Quicklink {{n + 1}}
                    </div>
                </div> -->

                <app-quicklinks></app-quicklinks>

            </aside>

            <div class="tile-container">
                <router-outlet />
            </div>

            <aside class="addinfo-container">
                <div class="addinfo-header">
                    AddInfo-Header
                </div>
                <div class="addinfo-wrapper">
                    <div class="addinfo-item" *ngFor="let i of [].constructor(50); let n = index">
                        Info {{n + 1}}
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
