<header class="header-container">
    <!-- The height is set generally at the header-element -->
    <app-header></app-header>
</header>

<div class="main-container">

    <nav class="menu-container">
        <!-- The width comes automatically from the app-menu-component (expand / collapsed) -->
        <app-menu></app-menu>
    </nav>

    <div class="content-structure">

        <!-- Content-Header => Breadcrumbs and second Navigation -->
        <!-- ################################################### -->
        <div class="content-header" *ngIf="!isDashbaord">

            <div class="breadcrumbs">{{ breadcrumbs }}</div>

            <!-- 2nd Navigation for workspace -->
            <div class="second-menu" *ngIf="currentRoute == 'tasks' || currentRoute == 'calendar' || currentRoute == 'messages'">
                <p routerLink="/tasks" routerLinkActive="active">Aufgaben</p>
                <p>|</p>
                <p routerLink="/messages" routerLinkActive="active">Nachrichten</p>
                <p>|</p>
                <p routerLink="/calendar" routerLinkActive="active">Kalender</p>
            </div>

            <!-- 2nd Navigation for team -->
            <div class="second-menu" *ngIf="currentRoute == 'employee'">
                <p routerLink="/employee" routerLinkActive="active">Mitarbeiter</p>
                <p>|</p>
                <p routerLinkActive="active">Arbeitszeiten</p>
            </div>

            <!-- 2nd Navigation for clients -->
            <div class="second-menu" *ngIf="currentRoute == 'clients'">
                <p routerLink="/clients" routerLinkActive="active">Kunden</p>
                <p>|</p>
                <p routerLinkActive="active">Lieferanten</p>
            </div>

            <!-- 2nd Navigation for projects -->
            <div class="second-menu" *ngIf="currentRoute == 'projects'">
                <p routerLinkActive="active">Projekte</p>
            </div>

        </div>

        <!-- Filter-Element (w/o active filters) => Quicklinks- and AddInfo- Toggle-Button / Searching / Filtering / Sorting -->
        <!-- ############################################################################################################### -->
        <div class="filter-container" *ngIf="!isDashbaord">

            <div class="filter-function-container">

                <!-- Quicklinks Toggle-Button -->
                <button class="quicklinks" [ngClass]="{'active': isQuicklinksVisible}" (click)="toggleQuicklinks()">
                    <i class="icon-chevron-left quicklinks" *ngIf="isQuicklinksVisible"></i>
                    <i class="icon-chevron-right quicklinks" *ngIf="!isQuicklinksVisible"></i>
                    <div>Quicklinks</div>
                </button>

                <!-- SEARCHING-FIELD -->
                <div class="searching-wrapper">
                    <input #myInput class="searching-field" type="text" placeholder="Suche nach..." [(ngModel)]="searchTerm" (keyup)="onSearchTermChanged($event)">
                    <div class="icon-cancel" *ngIf="searchTerm !== ''" (click)="removeSearchTerm()"></div>
                </div>

                <!-- <button (click)="toggelFilter()">toggel filter-items</button> -->

                <!-- FILTER and SORT Button -->
                <div class="filter-button-container">
                    <button class="filter-button">
                        Filter
                    </button>
                    <button class="sort-button">
                        Sort
                    </button>
                </div>

                <!-- AddInfo Toggle-Button -->
                <button class="add-info" [ngClass]="{'active': isAddInfoVisible}" (click)="toggleAddInfo()">
                    <div>AddInfo</div>
                    <i class="icon-chevron-right add-info" *ngIf="isAddInfoVisible"></i>
                    <i class="icon-chevron-left add-info" *ngIf="!isAddInfoVisible"></i>
                </button>
            </div>

            <div class="filter-item-wrapper" *ngIf="filterItems.length > 0">
                <div class="test">
                    <div class="filter-item-container" *ngFor="let item of filterItems">
                        <span>{{ item.name }}</span>
                        <span>{{ item.value }}</span>
                        <i class="icon-cancel" (click)="removeSearchTerm()"></i>
                    </div>
                </div>
            </div>

        </div>



        <!-- Content-Container => Quicklinks / Object-Tiles / AddInfo / Actions -->
        <!-- ################################################################## -->
        <div class="content-container">

            <!-- Quicklinks -->
            <div class="quicklinks-outer-container" *ngIf="currentRoute!= 'dashboard'">
                <aside class="quicklinks-container" *ngIf="isQuicklinksVisible" @fadeInOut-left>
                    <app-quicklinks></app-quicklinks>
                </aside>
            </div>

            <!-- TILE-CONTAINER -->
            <div class="tile-container">
                <router-outlet />
            </div>

            <!-- AddInfo -->
            <div class="add-info-outer-container" *ngIf="currentRoute!= 'dashboard'">
                <aside class="addinfo-container" *ngIf="isAddInfoVisible" @fadeInOut-right>
                    <app-add-info></app-add-info>
                </aside>
            </div>

        </div>
    </div>
</div>
