// Import Font from IcoMoon
// ************************
//@use '@angular/material' as mat;

// CSS VARIABLES
// *************
$bx-white: #ffffff;
$bx-white-11: #e6e6e6;
$bx-gray: #edf0f5;
$bx-gray-11: #d5d8dd;
$bx-anthracit: #404040;
$bx-anthracit-11: #3a3a3a;
$bx-anthracit-13: #2d2d2d;
$bx-anthracit-05: #a0a0a0;
$bx-anthracit-06: #b3b3b3;
$bx-blue-ice: #f9fcff;
$bx-green: #16c68d;
$bx-red: #e87a7a;
$bx-green-apple: #6aba61;
$bx-orange: #e6b555;
$bx-red-fire: #f44336;

$brand-orange: #e66926;
$brand-orange-06: #F0A57D;
$brand-orange-rgb: 230, 105, 38;
$brand-anthracit: #52565c;
$brand-anthracit-light-1: #383B40;
$brand-anthracit-light-2: #73787e;
$brand-font-1: #757575;
$brand-font-2: #a3a6ac;
$brand-font-3: #dfe0e2;


// Generally Angular Variables
// ***************************
:root {
    --primary-color: #2e7d32;
    --secondary-color: #f4f4f4;
    --text-color: #333333;
    --text-color-invert: #ffffff;
    --border-color: #cccccc;
    --background-color: #ffffff;

    --error: #{$bx-red-fire};
    --warning: #{$bx-orange};
    --success: #{$bx-green-apple};

    --highlight: #{$brand-orange};
    --primary: #{$brand-anthracit};
    --secondary: #{$brand-anthracit-light-2};

    --icon-default: #{$bx-anthracit};
    --icon-invert: #{$bx-white};
    --icon-disabled: #{$bx-anthracit-05};
    --icon-highlight: var(--highlight);

    --font-default: #{$bx-anthracit};
    --font-invert: #{$bx-white};
    --font-disabled: #{$bx-anthracit-05};
    --font-highlight: var(--highlight);
    --font-placeholder: #{$brand-font-3};



    --body-bg: #{$bx-gray};
    --header-bg: #{$bx-white};
    --menu-item-bg: #{var(--primary-color)};
    --menu-item-color: #{var(--text-color-invert)};



    --bottom-menu-background: #{$bx-white};
    --filter-item-background: #{$bx-white-11};
    --input-background: #{$bx-white-11};
    --button-default: #{$bx-anthracit-05};
    --button-highlight: #{$bx-green};
    --button-danger: #{$bx-red};

    --scrollbar-track: #{$bx-white-11};
    --scrollbar-thumb: var(--highlight);

    --header-height: 48px;
    --menu-width: 200px;
    --quicklinks-width: 200px;
    --add-info-width: 200px;
}

// Generally TAG-CSS
// *****************
:host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // display: block;
    // height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    width: 100%;
    // height: 100%;
}


// Specialy for Scrollbar
// **********************
::-webkit-scrollbar {
    width: 4px;
    z-index: 1;
}

::-webkit-scrollbar-button {
    // background-color: blue;
    // width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    // background-color: lime;
    background-color: rgba(44, 80, 103, .2);
    box-shadow: inset 0 0 4px #d6d6d6;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #95a0a1;
    background: rgba(44, 80, 103, .3);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2c5067;
    background: rgba(44, 80, 103, .6);
}
