// Import Font from IcoMoon
// ************************
//@use '@angular/material' as mat;

// CSS VARIABLES
// *************
$bx-white: #ffffff;
$bx-white-108: hsl(0, 0%, 92%);
$bx-white-110: hsl(0, 0%, 90%);
$bx-white-120: hsl(0, 0%, 80%);
$bx-white-166: hsl(0, 0%, 44%);
$bx-gray: #edf0f5;
$bx-gray-11: #d5d8dd;
$bx-anthracit: #404040;
$bx-anthracit-11: #3a3a3a;
$bx-anthracit-13: #2d2d2d;
$bx-anthracit-05: #a0a0a0;
$bx-anthracit-06: #b3b3b3;
$bx-blue-ice: #f9fcff;
$bx-green: #16c68d;
$bx-red: #e87a7a;
$bx-green-apple: #6aba61;
$bx-orange: #e6b555;
$bx-red-fire: #f44336;

$brand-orange: #e66926;
$brand-orange-06: #F0A57D;
$brand-orange-rgb: 230, 105, 38;
$brand-anthracit: #52565c;
$brand-anthracit-light-1: #383B40;
$brand-anthracit-light-2: #73787e;
$brand-font-1: #757575;
$brand-font-2: #a3a6ac;
$brand-font-3: #dfe0e2;


// Generally Angular Variables
// ***************************
:root {
    --primary-color: #2e7d32;
    --secondary-color: #f4f4f4;
    --text-color: #333333;
    --text-color-invert: #ffffff;
    --border-color: #cccccc;
    --background-color: #ffffff;

    --error: #{$bx-red-fire};
    --warning: #{$bx-orange};
    --success: #{$bx-green-apple};

    --highlight: #{$brand-orange};
    --primary: #{$brand-anthracit};
    --secondary: #{$brand-anthracit-light-2};

    --icon-default: #{$bx-anthracit};
    --icon-invert: #{$bx-white};
    --icon-disabled: #{$bx-anthracit-05};
    --icon-highlight: var(--highlight);

    --font-default: #{$bx-anthracit};
    --font-invert: #{$bx-white};
    --font-disabled: #{$bx-anthracit-05};
    --font-highlight: var(--highlight);
    --font-placeholder: #{$brand-font-3};

    --body-bg: #{$bx-gray};
    --header-bg: #{$bx-white};
    --menu-item-bg: #{var(--primary-color)};
    --menu-item-color: #{var(--text-color-invert)};

    --bottom-menu-background: #{$bx-white};
    --filter-item-background: #{$bx-white-110};
    --input-background: #{$bx-white-110};


    --header-height: 48px;
    --menu-width: 200px;
    --quicklinks-width: 200px;
    --add-info-width: 200px;


    // BUTTONS
    // #######
    --button-default-bg: #{$bx-white-110};
    --button-default-border: #{$bx-white-120};
    --button-default-color: #{$bx-white-166};
    --button-default-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(0, 0, 0, 0.08);

    --button-highlight-bg: #{$bx-green};
    --button-danger-bg: #{$bx-red};


    // DIALOG
    // ######
    --dialog-bg: #{$bx-white};
    --dialog-header-bg: var(--primary-color);
    --dialog-footer-bg: var(--secondary-color);
    --dialog-footer-button-bg: #{$bx-white-110};
    --dialog-footer-button-bg-hover: #{$bx-white-120};


    // SCROLL-BAR
    // ##########
    --scrollbar-track: #{$bx-white-110};
    --scrollbar-thumb: var(--highlight);
}

// Generally TAG-CSS
// *****************
:host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    color:var(--font-default);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    color: var(--text-color);
    width: 100%;
}

hr {
    margin: 24px 0;
}

p, span {
    // color: var(--font-default);
}

input {
    text-decoration: none;
    background-color: transparent;
    outline: none;
    border: none;
}

button {
    background-color: #ebebeb;
    border: 1px solid #b9b9b9;
    color: #707070;
    box-shadow: var(--button-default-shadow);
    border-radius: 4px;
    padding: 4px 8px;

    :hover {
        cursor: pointer;
    }
}

.button-2 {
    background-color: var(--button-default-bg);
    border: 1px solid var(--button-default-border);
    color: var(--button-default-color);
    box-shadow: var(--button-default-shadow);
    border-radius: 4px;
    padding: 4px 8px;
    display: inline-block;
}


// Specialy for Dialog-Container
// *****************************
.cdk-overlay-container {
    // background-color: rgba(0, 0, 0, 0.6);
    // backdrop-filter: blur(1.2px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;                  // Versteckt den Container, wenn kein Dialog aktiv ist
    z-index: 1000 !important;       // Sicherstellen, dass der Container über allem liegt
}

.cdk-overlay-container:has(.cdk-overlay-pane) {
    display: block;                 // Zeigt den Container an, sobald ein Dialog aktiv ist
}

.custom-backdrop {
    position: fixed !important;
    /* Unbedingt notwendig! */
    top: 100px;
    left: 100px;
    z-index: 1000 !important;
}

.cdk-overlay-backdrop {
    /* Schwarzer, transparenter Hintergrund */
    background-color: rgba(0, 0, 0, 0.6) !important;
    backdrop-filter: blur(1.2px);
    width: 100vw;
    height: 100vh;

        display: block !important;
        /* Or whatever display value you need */
        height: 100% !important;
        /* Or auto, depending on desired behavior */

    // position: fixed;
    // display: flex;
    // justify-content: center;
    // top: 0;
    // left: 0;
    // right: 0;
    z-index: 1000;
    /* Der Backdrop sollte knapp unter dem Dialog sein */
}

.cdk-overlay-pane {
    margin-top: 80px;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
            "Segoe UI Symbol";
    z-index: 1001 !important;

    button {
        outline: none;
    }
}

.cdk-dialog-container {
    display: flex !important;
    justify-content: space-around !important;

    button {
        background-color: var(--dialog-footer-button-bg);
        border: 1px solid #b9b9b9;
        margin-left: 6px;
    }
}

.cdk-dialog-container>.ng-star-inserted {
    background-color: orange;
    display: flex;
    flex-direction: column;

    .content-container {
        height: 100%;
    }
}


// Specialy for Scrollbar
// **********************
::-webkit-scrollbar {
    width: 4px;
    z-index: 1;
}

::-webkit-scrollbar-button {
    // background-color: blue;
    // width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    // background-color: lime;
    background-color: rgba(44, 80, 103, .2);
    box-shadow: inset 0 0 4px #d6d6d6;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #95a0a1;
    background: rgba(44, 80, 103, .3);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2c5067;
    background: rgba(44, 80, 103, .6);
}
